{% extends 'layouts/base.html' %}
{% load static%}


{% block toolbar %}
    <a class="btn btn-primary" href="{% url 'detail-endpoint' credential.endpoint.pk %}">Back to '{{credential.endpoint.name}}'</a>
{% endblock %}
{% block content%}


<div class="nk-block">
    <div class="card card-bordered">
        <div class="card-aside-wrap">
            <div class="card-inner card-inner-lg">
                <div class="nk-block-head nk-block-head-lg">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h4>Authentication Rules</h4>
                            {% if credential.endpoint.authentication %}

                                <p class="text-primary">{{credential.endpoint.authentication.authentication_url }}</p>
                                <a href="{% url 'test-credential-authentication' credential.pk %}" class="btn btn-secondary">Test Authentication</a>
                            {% else %}
                                <p class="text-danger">Authentication Disabled</p>
                                <a class="btn btn-trigger" href="{% url 'create-endpoint_authentication' %}" class="btn btn-primary">Enable Authentication</a>
                            {% endif %}
                            <br/>
                            <br/><br/>
                            <h5 class="nk-block-title">Credential Entries <a class="btn btn-secondary" href="{% url 'create-credential_entry' %}">+ Create </a></h5>
                            
                        </div>
                        <div class="nk-block-head-content align-self-start d-lg-none">
                            <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                
                {% comment %} Credential Entry list {% endcomment %}
                <div class="nk-block card card-bordered">
                    <table class="table table-ulogs">
                        <thead class="table-light">
                            <tr>

                                <th class="tb-col-os"><span class="overline-title">Key</span></th>
                                <th class="tb-col-os"><span class="overline-title">Value</span></th>
                                <th class="tb-col-os"><span class="overline-title">As Header</span></th>
                                <th class="tb-col-os"><span class="overline-title">Actions</span></th>
                           
 
                            </tr>
                        </thead>
                        <tbody>
                            {% for credential_entry in credential.credential_entries.all %}
                            <tr>
                                <td class="tb-col-os">{{credential_entry.key}}</td>
                                <td class="tb-col-os">{{credential_entry.value}}</td>
                                <td class="tb-col-os">{{credential_entry.as_header }}</td>
                                <td class="tb-col-os"><a class="btn btn-secondary" href="{% url 'update-credential_entry' credential_entry.pk %}">Edit</a> | <a class="btn btn-danger" href="{% url 'delete-credential_entry' credential_entry.pk %}">Remove</a></td>
                                
                             </tr>
                       
                            {% endfor %}  
                        </tbody>
                    </table>
                </div><!-- .nk-block-head -->

            </div>
            <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-toggle-body="true" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                <div class="card-inner-group" data-simplebar>
                    <div class="card-inner">
                        <div class="user-card">
                            
                            <div class="user-info">
                                <h2 class="nk-block-title">Credential: {{credential.credential.name}}</h2>
                                
                            </div>
                            
                            </div>
                        </div><!-- .user-card -->
                    </div><!-- .card-inner -->
                    <div class="card-inner">
                        
                    </div><!-- .card-inner -->
                    <div class="card-inner p-0">
                        <ul class="link-list-menu">
                            <li><a href="{% url 'create-connection' %}"><em class="icon ni ni-activity-round-fill"></em><span>Create Credential</span></a></li>
                            
                        </ul>
                    </div><!-- .card-inner -->
                </div><!-- .card-inner-group -->
            </div><!-- card-aside -->
        </div><!-- .card-aside-wrap -->
    </div><!-- .card -->


{% endblock %}