{% load static %}

<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Phamex</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href={% static 'assets/css/materialdesignicons.min.css' %}>
    <link rel="stylesheet" href={% static 'assets/css/vendor.bundle.base.css' %}>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href={% static 'assets/css/jquery-jvectormap.css' %}>
    <link rel="stylesheet" href={% static 'assets/css/flag-icon.min.css' %}>
    <link rel="stylesheet" href={% static 'assets/css/owl.carousel.min.css' %}>
    <link rel="stylesheet" href={% static 'assets/css/owl.theme.default.min.css' %}>
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href={% static 'assets/css/style.css' %}>
  
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>
  
</head>

<div class="container-scroller">
            <!-- sidebar @s -->

            {% include 'layouts/sidebar.html' %}
            <div class="container-fluid page-body-wrapper">
                {% include 'layouts/header.html' %}
                <div class="main-panel">
                    <div class="content-wrapper">
                      <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                          <div class="card corona-gradient-card">
                            <div class="card-body py-0 px-0 px-sm-3">
                              <div class="row align-items-center">

            <!-- sidebar @e -->
            <!-- wrap @s -->
            {% comment %} <div class="nk-wrap "> {% endcomment %}
                <!-- main header @s -->

               
               
                <!-- main header @e -->
                <!-- content @s -->
                {% comment %} <div class="nk-content nk-content-fluid"> {% endcomment %}
                    {% include 'layouts/messages.html' %}
           
                        {% block toolbar %}
                            
                        {% endblock %}
                        {% comment %} <div class="nk-content-body"> {% endcomment %}
                            

                            {% block content %}

                                {% comment %} your content here {% endcomment %}


                            {% endblock%}
                            {% comment %} {% include 'layouts/footer.html' %} {% endcomment %}
                            
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
                        </div>
                    </div>
    <!-- JavaScript -->
    {% include 'layouts/scripts.html' %}
    
</body>

</html>