{% load static %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous"></script> 
<script src="{% static 'js/bootstrap-min.js' %}"></script>

    <script src="{% static 'js/bundle.js' %}"></script>
    <script src="{% static 'js/editors.js' %}"></script>
    <script src="{% static 'js/example-toastr.js' %}"></script>

    <script src="{% static 'js/libs/datatable-btns.js' %}"></script>
    <script src="{% static 'js/libs/dragula.js' %}"></script>
    <script src="{% static 'js/libs/dual-listbox.js' %}"></script>
    <script src="{% static 'js/libs/jkanban.js' %}"></script>
    <script src="{% static 'js/libs/jqvmap.js' %}"></script>
    <script src="{% static 'js/libs/jstree.js' %}"></script>
    <script src="{% static 'js/libs/tagify.js' %}"></script>
    <script src="{% static  'assets/js/dashboard.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
