
{% load static %}

    <link rel="stylesheet" href="{% static 'css/dashlite.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashlite.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-email.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs/fontawesome-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs/jstree.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashlite.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/skins/theme-bluelite.css' %}">
  