{% extends '../../layouts/base.html'%}


{% block content %}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="card">
                        <div class="card-aside-wrap">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head nk-block-head-lg">
                                    <div class="nk-block-between">
                                        <div class="nk-block-head-content">
                                            
                                            <h4 class="nk-block-title">Payroll Information</h4>
                                            <div class="nk-block-des">
                                                <p>Payroll Info</p>
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="nk-block-head-content align-self-start d-lg-none">
                                            <a href="#" class="toggle btn btn-icon btn-trigger mt-n1" data-target="userAside"><em class="icon ni ni-menu-alt-r"></em></a>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="nk-block">
                                    <div class="nk-data data-list">
                                        <div class="data-head">
                                            <h6 class="overline-title">Basics</h6>
                                        </div>
                                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                            <div class="data-col">
                                                <span class="data-label">First Name</span>
                                                <span class="data-value">{{employee.first_name}}</span>
                                            </div>
                                           
                                        </div><!-- data-item -->
                                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                            <div class="data-col">
                                                <span class="data-label">Last Name</span>
                                                <span class="data-value">{{employee.last_name}}</span>
                                            </div>
                                           
                                        </div><!-- data-item -->
                                       
                                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                            <div class="data-col">
                                                <span class="data-label">Marital Status</span>
                                                <span class="data-value">{{employee.marital_status}}</span>
                                            </div>
                                           
                                        </div><!-- data-item -->
                                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                            <div class="data-col">
                                                <span class="data-label">Personal Email</span>
                                                <span class="data-value">{{employee.personal_email}}</span>
                                            </div>
                                           
                                        </div><!-- data-item -->
                                        <div class="data-item" data-bs-toggle="modal" data-bs-target="#profile-edit">
                                            <div class="data-col">
                                                <span class="data-label">Phone Number</span>
                                                <span class="data-value">{{employee.phone}}</span>
                                            </div>
                                           
                                        </div><!-- data-item -->
                                       
                                    </div><!-- data-list -->
                                </div><!-- .nk-block -->
                            </div>
                            <div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-toggle-body="true" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
                                <div class="card-inner-group" data-simplebar>
                                    <div class="card-inner">
                                        <div class="user-card">
                                            <div class="user-avatar bg-primary">
                                                <span>NK</span>
                                            </div>
                                            <div class="user-info">
                                                <span class="lead-text">{{employee.first_name}}</span>
                                                <span class="sub-text">{{employee.work_email}}</span>
                                            </div>
                                           
                                        </div><!-- .user-card -->
                                    </div><!-- .card-inner -->
                                    <div class="card-inner">
                                        <div class="user-account-info py-0">
                                            <h6 class="overline-title-alt">Title</h6>
                                            <div class="user-balance">{{employee.job_title}}</div>
                                            
                                        </div>
                                    </div><!-- .card-inner -->
                                    <div class="card-inner p-0">
                                        <ul class="link-list-menu">
                                            <li><a  href="{% url 'detail-employee' employee.pk%}"><em class="icon ni ni-user-fill-c"></em><span>Personal Infomation</span></a></li>
                                            <li><a href="{% url 'workinfo-employee' employee.pk%}"><em class="icon ni ni-bell-fill"></em><span>Work Information</span></a></li>
                                            <li><a class="active" href=""><em class="icon ni ni-activity-round-fill"></em><span>Payroll Information</span></a></li>

                                        </ul>
                                        <div class="card-inner p-0">
                                     
                                                <a href="{% url 'update-employee' employee.pk%}" class="btn btn-dim btn-success">Update</a>
                                                <a href="{% url 'delete-employee' employee.pk%}" class="btn btn-dim btn-danger">Delete</a>
                                                
    
                                    </div><!-- .card-inner -->
                                </div><!-- .card-inner-group -->
                            </div><!-- card-aside -->
                        </div><!-- .card-aside-wrap -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>

{% endblock%}