{% extends "../layouts/base.html" %} 
{% load static %} 


{% block content %}


    
                 
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
          
         
            
            <div class="col-12 grid-margin">
                
              <div class="card">
                
                <div class="card-body">
                    <div class="position-relative">
                        <!-- Your element here -->
                        <a href="{% url 'create-drug' %}" class="btn btn-inverse-success btn-fw position-absolute top-0 end-0 m-3">Add Drug</a>
                      </div>
                  <h4 class="card-title">Drug List</h4>
                  
                  {% comment %} <button type="button" class="btn btn-inverse-success btn-fw">Success</button> {% endcomment %}
                  
                  <div class="table-responsive">
                   
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                              </label>
                            </div>
                          </th>
                          <th class="card-title"> Drug Name </th>
                          <th class="card-title"> Drug Code </th>
                          <th class="card-title"> Selling Price </th>
                          <th class="card-title"> Quantity </th>
                          <th class="card-title"> Strength </th>
                          <th class="card-title"> Date Supplied </th>
                          <th class="card-title"> Expiry Date </th>
                        </tr>
                        
                      </thead>
                      <tbody>
                        {% for drug in drugs %}
                        <tr >
                          <td >
                            <div class="form-check form-check-muted m-0">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input">
                              </label>
                            </div>
                          </td>
                          <td class="card-title">
                          {{ drug.name }}
                          </td>
                          <td class="card-title"><a href=""> {{ drug.code }} <a/> </td>
                          <td class="card-title">$ {{ drug.price }} </td>
                          <td class="card-title"> {{ drug.quantity }}</td>
                          <td class="card-title"> {{ drug.strength }} </td>
                          <td class="card-title"> {{ drug.date_supplied }}</td>
                          <td class="card-title">{{ drug.expiry_date }}</td>
                          <td> <a href="{% url 'update-drug' drug.pk %}" class="btn btn-inverse-success btn-fw">Edit</a></td>
                          <td><a href="{% url 'delete-drug' drug.pk %}" class="btn btn-inverse-danger btn-fw">Delete</a> </td>
                          
                        </tr>
                        {% endfor%}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
                   
                  
   


{% endblock %}
    